:host ::ng-deep .p-dialog-header {
  padding-bottom: 0;
}

.staff-form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  margin-top: 25px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.field-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 600px) {
  .field-row {
    grid-template-columns: 1fr;
  }
}
